* {
    box-sizing: border-box ;
}
body, html {
    height: 100%;
    width: 100%;
    margin: 0;
}
h1 {
    color:rgb(100, 0, 87)
}
body, html {
    height: 100%;
    width: 100%;
    margin: 0;
}

.parks {
    color:darkslateblue
}
img {
    display: block;
    margin-left: auto; 
    margin-right: auto
}

.parks {
    color: rgb(255, 80, 165);
    background-color: azure;
}

.frenemies:hover {
    color: crimson;
}